<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>/ggg/index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.dreamjust.servlet.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DateServlet</servlet-name>
		<servlet-class>com.dreamjust.servlet.DateServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>User</servlet-name>
		<servlet-class>com.dreamjust.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Comment</servlet-name>
		<servlet-class>com.dreamjust.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment</servlet-name>
		<url-pattern>/comment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Found</servlet-name>
		<servlet-class>com.dreamjust.servlet.FoundThingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Found</servlet-name>
		<url-pattern>/foundthing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Lost</servlet-name>
		<servlet-class>com.dreamjust.servlet.LostThingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Lost</servlet-name>
		<url-pattern>/lostthing</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>photo</servlet-name>
		<servlet-class>com.dreamjust.servlet.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>photo</servlet-name>
		<url-pattern>/photo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addr</servlet-name>
		<servlet-class>com.dreamjust.servlet.AddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addr</servlet-name>
		<url-pattern>/address</url-pattern>
	</servlet-mapping>

</web-app>